body{
    background-color:  #3c2118;
}

/* AJUSTE E ORGANIZAÇÃO DOS CONTEÚDOS */
.topo{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #B17871;
    border-radius: 30px;
    height: 75px;
    font-family: 'Courier New', Courier, monospace;
    color: #3c2118;
}

.topo h1{
    margin-left: 20px;
}

.logout{
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    align-self: center;
    
}
/* PERSONALIZANDO APENAS O INPUT DO BOTÃO LOGOUT. ARREDONDADO */
.logout input[type=submit]{
    border-radius: 100%;
    width: 50px;
    height:50px;
    border: 2px solid #B17871;
}


.menus{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
}

.menu1, .menu2, .menu3, .menu4, .menu5, .menu6{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: #aa8a97;
    margin: 30px;
    border-radius: 20px;
    border:#B17871 solid 4px;
    flex-flow: column;
}


.menus a{
    height: 300px;
    width: 300px; 
}

.menu1 a, .menu2 a, .menu3 a, .menu4 a, .menu5 a, .menu6 a{
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

    /* EFEITO DE MOUSE HOVER */
.menu1:hover, .menu2:hover, .menu3:hover, .menu4:hover, .menu5:hover, .menu6:hover{
    transform: scale(1.109); /*EFEITO ALTERANDO ESCALA EM 1.1x*/
    background-color: rgba(62, 108, 108, 0.506);
}
.menu1, .menu2, .menu3, .menu4, .menu5, .menu6{
    transition: transform 0.5s; /*TEMPO PARA CONCLUSÃO DO EFEITO */
}
